/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
	background-color: #1c0033;
	color: rgb(25, 30, 20);
	font-family: Lucida Sans Unicode;
}

.inline-block {
	display: inline-block;
}

.room {
	height: 1044px;
	width: 1280px;
	background-image: url('images/house.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
}

.float-door1 {
	position: absolute;
	left: 150px;
	top: 345px;
	scale: 130%;
}

.float-door2 {
	position: absolute;
	left: 350px;
	top: 275px;
	scale: 120%;
}

.float-door3 {
	position: absolute;
	left: 690px;
	top: 270px;
	scale: 120%;
	transform: scaleX(-1);
}


.float-door4 {
	position: absolute;
	left: 950px;
	top: 335px;
	scale: 130%;
	transform: scaleX(-1);
}


/*change image on hover html*/

.door-hover {
	height: 175px;
	width: 172px;
	background-image: url('images/door_closed.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
	transition: background-image 0.3s ease-in-out;
	/* Smooth transition */
}

.door-hover:hover {
	height: 175px;
	width: 172px;
	background-image: url('images/door_open.png');
	/* Change on hover */
}

.footer-grid{
  display: grid;
  grid-auto-rows: 1;
  column-gap: 15px;
}

.hovertext {
  color: white;
  text-align: center;
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 90%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
