/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
	background-image: linear-gradient(to bottom, #b4a0c4, #473b51);
	color: rgb(25, 30, 20);
	font-family: Lucida Sans Unicode;
}

ul {
	/*padding-left: 15px;*/
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.inline-block {
	display: inline-block;
}

.box {
	width: fit-content;
	height: fit-content;
	padding: 15px;
	border: 3px groove rgb(48, 35, 47);
	background-color: rgb(76, 48, 74);
	color: azure;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}


ul li::before {  
    content: '';   
    display: inline-block;   
    height: 30px;   
    width: 30px;    
    background-size: 30px;   
    background-image: url('imgs/pixel_tea_mug.png');   
    background-repeat: no-repeat;   
    margin-right: 5px;
    background-position: center center;
    vertical-align: middle;
}





/*change image on hover html*/

.ruby-hover {
	height: 240px;
	width: 190px;
	background-image: url('imgs/ruby.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
	transition: background-image 0.5s ease-in-out;
	/* Smooth transition */
}

.ruby-hover:hover {
	scale: 110%;
	background-image: url('imgs/ruby.png');
	/* Change on hover */
}

.weiss-hover {
	height: 180px;
	width: 140px;
	background-image: url('imgs/weiss.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
	transition: background-image 0.5s ease-in-out;
	/* Smooth transition */
}

.weiss-hover:hover {
	scale: 110%;
	background-image: url('imgs/weiss.png');
	/* Change on hover */
}

.blake-hover {
	height: 200px;
	width: 150px;
	background-image: url('imgs/blake.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
	transition: background-image 0.5s ease-in-out;
	/* Smooth transition */
}

.blake-hover:hover {
	scale: 110%;
	background-image: url('imgs/blake.png');
	/* Change on hover */
}

.yang-hover {
	height: 200px;
	width: 160px;
	background-image: url('imgs/yang.png');
	/* Initial background image */
	background-size: cover;
	/* Cover the entire area of the element */
	transition: background-image 0.5s ease-in-out;
	/* Smooth transition */
}

.yang-hover:hover {
	scale: 110%;
	background-image: url('imgs/yang.png');
	/* Change on hover */
}